export ALGOLIA_APP_ID=[ALGOLIA_APP_ID]
export ALGOLIA_API_KEY=[ALGOLIA_API_KEY]
export AUTH0_DOMAIN=[AUTH0_DOMAIN]
export AUTH0_API_IDENTIFIER=[AUTH0_API_IDENTIFIER]
export GRAPHCOOL_API_KEY=[GRAPHCOOL_API_KEY]
export GRAPHCOOL_SIMPLE_ENDPOINT=[GRAPHCOOL_SIMPLE_ENDPOINT]